---
import Layout from '@layouts/Layout.astro';
import Container from '@components/Container.astro';
import TitleSection from '@components/ui/TitleSection.astro';
import SubTitleSection from '@components/ui/SubTitleSection.astro';
import ProseTemplate from '@components/ui/ProseTemplate.astro';

import { getEntry } from 'astro:content';

const entry = await getEntry('impressum', 'impressum');
if (!entry?.data) {
    throw new Error('Error: Not found impressum entry');
}
const { contactList, contactMedia, legalNotice } = entry.data;
---

<Layout
    title='Impressum'
    backgroundColor='bg-white'
    navbarProps='bg-white/70 h-30 md:h-34 lg:h-16'
>
    <Container
        classAstro='w-fit md:w-5/6 lg:w-[60%] flex flex-col pt-32 md:pt-56 mb-8'
    >
        <TitleSection title='Impressum' />

        <ProseTemplate>
            <ul class='list-none p-4'>
                {contactList.map((item) => <li class='max-w-prose'>{item}</li>)}
            </ul>
        </ProseTemplate>

        <SubTitleSection title='Programmierung' />

        <ProseTemplate>
            <ul class='list-none p-4'>
                <li>Daniel Araya</li>
                <li>
                    <a
                        href='https://darayaq.de/'
                        target='_blank'
                        class='no-underline hover:transition hover:line-through hover:duration-300 hover:ease-in-out'
                        rel='noopener noreferrer'>https://darayaq.de/</a
                    >
                </li>
            </ul>
        </ProseTemplate>

        <SubTitleSection title='Kontakt' />
        <ProseTemplate>
            <ul class='list-none p-4'>
                {
                    contactMedia.map((item) => (
                        <li class='max-w-prose'>{item}</li>
                    ))
                }
            </ul>
        </ProseTemplate>

        <SubTitleSection title='Haftung für Inhalte' />
        <ProseTemplate>
            {
                legalNotice && (
                    <div class='prose prose-xl pl-5'>
                        {legalNotice.split('\n').map((item) => (
                            <p>{item}</p>
                        ))}
                    </div>
                )
            }
        </ProseTemplate>
    </Container>
</Layout>
