---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";

import { getEntry } from "astro:content";

const entry = await getEntry("impressum", "impressum");
if (!entry?.data) {
    throw new Error("Error: Not found impressum entry");
}
const { contactList, contactMedia, legalNotice } = entry.data;
---

<Layout
    title="Impressum"
    backgroundColor="bg-white"
    navbarProps="bg-white/70 h-30 md:h-34 lg:h-16"
>
    <Container
        classAstro="w-fit md:w-5/6 lg:w-[60%] flex flex-col pt-32 md:pt-56 mb-8"
    >
        <section>
            <h2
                class="mb-4 mt-8 w-fit pl-4 text-3xl font-bold underline underline-offset-8"
            >
                Impressum
            </h2>

            <div class="lg:prose-3xl prose prose-2xl mb-6 mt-2 pb-10 pt-4">
                <ul class="list-none p-4">
                    {
                        contactList.map((item) => (
                            <li class="max-w-prose">{item}</li>
                        ))
                    }
                </ul>
            </div>

            <h3 class="mb-4 mt-8 w-fit pl-4 text-3xl font-bold">
                Programmierung:
            </h3>
            <div class="lg:prose-3xl prose prose-2xl mb-6 mt-2 pb-10 pt-4">
                <ul class="list-none p-4">
                    <li class="max-w-prose">Daniel Araya</li>
                    <li class="max-w-prose">
                        <a
                            href="https://darayaq.de/"
                            target="_blank"
                            rel="noopener noreferrer">daniel@darayaq.de</a>
                    </li>
                </ul>
            </div>

            <h3 class="mb-4 mt-8 w-fit pl-4 text-3xl font-bold">Kontakt:</h3>
            <div class="lg:prose-3xl prose prose-2xl mb-6 mt-2 pb-10 pt-4">
                <ul class="list-none p-4">
                    {
                        contactMedia.map((item) => (
                            <li class="max-w-prose">{item}</li>
                        ))
                    }
                </ul>
            </div>

            <h3
                class="mb-4 mt-8 w-fit pl-4 text-3xl font-bold underline underline-offset-8"
            >
                Haftung für Inhalte
            </h3>

            <div class="lg:prose-3xl prose prose-2xl mb-6 mt-2 pb-10 pt-4">
                {
                    legalNotice && (
                        <div class="prose prose-xl pl-5">
                            {legalNotice.split("\n").map((item) => (
                                <p>{item}</p>
                            ))}
                        </div>
                    )
                }
            </div>
        </section>
    </Container>
</Layout>
