---
import Layout from '@layouts/Layout.astro';
import Hero from '@sections/Hero.astro';
import Description from '@sections/Description.astro';
import Ausstellungen from '@sections/Ausstellungen.astro';
import Navbar from '@sections/Navbar.astro';
import CallToAction from '@sections/CallToAction.astro';
import Gallery from '@sections/Gallery.astro';
import UeberMich from '@sections/UeberMich.astro';
---

<Layout title='Birgit Mathias Malerei'>
    <Hero>
        <Navbar />
        <div
            class='flex flex-col justify-center items-end h-full drop-shadow-2xl'
        >
            <CallToAction />
        </div>
    </Hero>
</Layout>
<Description />
<UeberMich />
<Ausstellungen />
<div id='gallery'>
    <Gallery />
</div>
