---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import Description from '@components/Description.astro';
import Ausstellungen from '@components/Ausstellungen.astro';
import Navbar from '@components/Navbar.astro';
import CallToAction from '@components/CallToAction.astro';
import Gallery from '@components/Gallery.astro';
---

<Layout title='Birgit Mathias Malerei'>
    <Hero>
        <Navbar />
        <div
            class='max-w-screen-lg flex flex-col items-center justify-end h-full pb-4 px-6 sm:px-0'
        >
            <CallToAction />
        </div>
    </Hero>
    <Description />
    <Ausstellungen />
    <Gallery />
</Layout>
