---
import Layout from '@layouts/Layout.astro';

import Hero from '@sections/Hero.astro';
import CallToAction from '@sections/CallToAction.astro';
import Description from '@sections/Description.astro';
import UeberMich from '@sections/UeberMich.astro';
import Video from '@sections/Video.astro';
import Ausstellungen from '@sections/Ausstellungen.astro';
import Werke from '@sections/Werke.astro';

import ImageBackground from '@assets/background-about.jpg';
---

<Layout title='Birgit Mathias Malerei'>
    <Hero>
        <div
            class='flex h-full flex-col items-end justify-center drop-shadow-2xl'
        >
            <CallToAction />
        </div>
    </Hero>
    <div id='sentinel' class='h-1 w-full'></div>
    <main>
        <div
            class='aspect-auto bg-cover bg-no-repeat'
            style=`background-image: url(${ImageBackground.src}); height: {ImageBackground.height}; width: {ImageBackground.width}; alt="background";`
        >
            <Description />
        </div>
        <UeberMich />
        <Video />
        <Ausstellungen />
        <Werke data-section id='werke' />
    </main>
</Layout>
