---
import Layout from '@layouts/Layout.astro';
import Container from '@components/Container.astro';
import Form from '@components/Form.astro';
import Footer from '@sections/Footer.astro';

export const prerender = true;
---

<Layout
    title='Kontakt'
    backgroundColor='bg-white'
    navbarProps='bg-white/60 backdrop-blur-sm drop-shadow-md'
>
    <Container
        classAstro='md:w-[70dvw] flex flex-col md:flex-row place-items-center pt-56 gap-8 md:gap-16'
    >
        <Form articleClassForm='h-fit w-full md:w-1/2 md:order-1 order-2' />
        <article class='order-1 h-fit w-full self-baseline md:order-2 md:w-1/2'>
            <h2 class='w-fit py-8 text-3xl font-bold uppercase'>
                BIRGIT MATTHIAS
            </h2>
            <ul class='lg:prose-3xl prose prose-2xl'>
                <li class='pb-2'>
                    Gunta-Stölzl-Str. 15 <br />
                    99425 Weimar
                </li>
                <li class='pb-2'>Tel. 0 36 43 – 77 57 90</li>
                <li class='pb-2'>atelier@birgit-matthias.de</li>
                <li class='pb-2'>
                    <a href='/' rel='noopener noreferrer'>
                        www.birgit-matthias.de</a
                    >
                </li>
            </ul>
        </article>
    </Container>
</Layout>
<Footer />
