---
import LayoutArt from '@layouts/LayoutArt.astro';
import Container from '@components/Container.astro';
---

<LayoutArt title='Kontakt'>
    <Container classAstro='classAstro=' mt-10'>
        <h1>telier@birgit-matthias.de</h1>
    </Container>
</LayoutArt>
