---
import Layout from '@layouts/Layout.astro';
import Container from '@components/Container.astro';
import Form from '@components/Form.astro';

export const prerender = true;
---

<Layout
    title='Kontakt'
    backgroundColor='bg-white'
    navbarProps='bg-white/60 backdrop-blur-sm drop-shadow-md'
>
    <Container classAstro='w-[60%] flex place-items-center pt-56 gap-16'>
        <Form articleClassForm='h-dvh' />
        <article class='h-dvh'>
            <h2 class='prose-2xl pb-8 font-bold uppercase'>BIRGIT MATTHIAS</h2>
            <ul class='prose text-balance'>
                <li>
                    Gunta-Stölzl-Str. 15 <br />
                    99425 Weimar
                </li>
                <li>Tel. 0 36 43 – 77 57 90</li>
                <li>atelier@birgit-matthias.de</li>
                <li>
                    <a href='/' rel='noopener noreferrer'>
                        www.birgit-matthias.de</a
                    >
                </li>
            </ul>
        </article>
    </Container>
</Layout>
