---
import Layout from '@layouts/Layout.astro';
import Container from '@components/Container.astro';
import Form from '@components/Form.astro';
import Footer from '@sections/Footer.astro';
import TitleSection from '@components/ui/TitleSection.astro';
import ProseTemplate from '@components/ui/ProseTemplate.astro';

export const prerender = true;
---

<Layout title='Kontakt' backgroundColor='bg-white' navbarProps='bg-white/70'>
    <Container
        classAstro='md:lg:w-2/3 flex flex-col md:flex-row place-items-center pt-32 md:pt-56 gap-8'
    >
        <Form
            articleClassForm='h-fit w-full md:w-1/2 md:order-1 order-2 pb-4 mb-6'
        />
        <article class='order-1 h-fit w-full self-baseline md:order-2 md:w-1/2'>
            <TitleSection title='Birgit Matthias' />
            <ProseTemplate>
                <ul class='list-none pl-0'>
                    <li class='pb-2'>
                        Gunta-Stölzl-Str. 15 <br />
                        99425 Weimar
                    </li>
                    <li class='pb-2'>Tel. 0 36 43 – 77 57 90</li>
                    <li class='pb-2'>atelier@birgit-matthias.de</li>
                    <li class='pb-2'>
                        <a href='/' rel='noopener noreferrer'>
                            www.birgit-matthias.de</a
                        >
                    </li>
                </ul>
            </ProseTemplate>
        </article>
    </Container>
</Layout>
<Footer />
