---
import LayoutArt from '@layouts/LayoutArt.astro';
import Container from '@components/Container.astro';
---

<LayoutArt title='Kontakt'>
    <section class='h-dvh mt-10 mx-32 bg-white pl-24 py-24'>
        <h2 class='text-2xl font-bold my-4'>BIRGIT MATTHIAS</h2>
        <ul class='prose text-balance'>
            <li>
                Gunta-Stölzl-Str. 15 <br />
                99425 Weimar
            </li>
            <li>Tel. 0 36 43 – 77 57 90</li>
            <li>atelier@birgit-matthias.de</li>
            <li>www.birgit-matthias.de</li>
        </ul>
    </section>
</LayoutArt>
