---
interface Props {
    articleClassForm?: string;
}

const { articleClassForm } = Astro.props;
---

<article class:list={[articleClassForm]}>
    <h2>Contact</h2>

    <form
        name='contact'
        method='POST'
        data-netlify='true'
        netlify-honeypot='bot-field'
    >
        <input type='hidden' name='form-name' value='contact' />

        <label for='name'>Name</label>
        <input type='text' id='name' name='name' required />

        <label for='email'>Email</label>
        <input type='email' id='email' name='email' required />

        <label for='message'>Message</label>
        <textarea id='message' name='message'></textarea>

        <button type='submit'>Send</button>
    </form>
</article>
