---
interface Props {
    articleClassForm?: string;
}

const { articleClassForm } = Astro.props;
---

<article class:list={[articleClassForm]}>
    <h2 class='prose-2xl pb-8 font-bold uppercase'>Kontakt</h2>

    <!--     <form
        method='POST'
        id='form'
        name='contact-form'
        class='needs-validation flex w-full flex-col rounded-lg'
        data-netlify='true'
        data-astro-reload
        novalidate
    >
        <div class='relative mb-4'>
            <label for='email' class='prose-sm text-gray-600'>Email</label>
            <input
                type='email'
                id='email'
                name='email'
                required
                class='prose w-full rounded border border-gray-300 bg-white px-3 py-1 text-base text-gray-700 outline-none transition-colors duration-200 ease-in-out focus:border-[#ec008c]/80 focus:ring-2 focus:ring-[#ec008c]/40'
            />
        </div>
        <div class='relative mb-4'>
            <label for='message' class='prose-sm text-gray-600'>Message</label>
            <textarea
                id='message'
                name='message'
                required
                maxlength='500'
                class='prose h-32 w-full resize-none rounded border border-gray-300 bg-white px-3 py-1 text-base text-gray-700 outline-none transition-colors duration-200 ease-in-out focus:border-[#ec008c]/80 focus:ring-2 focus:ring-[#ec008c]/40'
            ></textarea>
        </div>
        <div class='h-captcha' data-captcha='true'></div>
        <button
            type='submit'
            class='prose rounded border-0 bg-[#ec008c]/50 px-6 py-2 text-lg font-bold uppercase text-white hover:bg-[#ec008c] focus:outline-none'
            >Send</button
        >
    </form> -->

    <form name='contact' method='POST' autocomplete='off' data-netlify='true'>
        <p>
            <label>Your Email: <input type='email' name='email' /></label>
        </p>

        <p>
            <label>Message: <textarea name='message'></textarea></label>
        </p>
        <p>
            <button type='submit'>Send</button>
        </p>
    </form>
</article>
