---
import LayoutArt from '@layouts/LayoutArt.astro';
import GridCell from '@components/GridCell.astro';
import Arrow from '@assets/UI/Arrow.astro';
interface Props {
    title: string;
    header: string;
    dataArt: any;
}
const { title, header, dataArt } = Astro.props;
---

<LayoutArt title={title}>
    <section class='h-fit'>
        <header>
            <h2 class='text-3xl py-8 pl-20 font-bold'>
                <span class='border-b-2 border-white pb-1'>{header}</span>
            </h2>
        </header>

        <div class='grid grid--large bg-white'>
            <div class='flex items-end px-4 pb-4'>
                <a
                    href='/#werke'
                    class='hover:scale-150 transition-all duration-300 ease-in-out'
                >
                    <Arrow class='w-14 mb-6 ml-4 md:w-6 m-auto' />
                </a>
            </div>

            {
                dataArt.map((art, index) => (
                    <GridCell data={art} dataIndex={index} />
                ))
            }
        </div>
    </section>
</LayoutArt>
