---
import { INFO_CTA } from '@consts/INFO_CTA';
---

<section>
    {
        INFO_CTA.map((cta) => {
            return (
                <div class='flex flex-col md:flex-row bg-[#1e0576]'>
                    <div class='px-7 py-5 font-normal text-white '>
                        <h1 class='text-pretty mb-4 text-4xl font-bold underline leading-none tracking-tight '>
                            {cta.title}
                        </h1>
                        <p class='text-2xl leading-normal'>{cta.venue}</p>
                        <p class='text-2xl leading-normal'>{cta.date}</p>
                    </div>
                </div>
            );
        })
    }
</section>
