---
import ImageBackground from '@assets/background-about.jpg';
---

<div
    class='bg-cover bg-no-repeat flex justify-center align-middle'
    style=`background-image: url(${ImageBackground.src}); height: {ImageBackground.height}; width: {ImageBackground.width}; alt="background";`
>
    <div class='prose prose-xl bg-slate-200/80 mx-10 px-10 py-24'>
        <p class='text-pretty'>
            Ich arbeite hauptsächlich abstrakt mit Acryl auf Leinwand. Die
            Formate sind in der Regel groß gewählt.
        </p>
        <p class='text-pretty'>
            Abstrakte Malerei ist für mich Komponieren und Erfinden, Verwenden
            und Verfremden bekannter Seh- und Malweisen, Spielen mit Impulsen,
            die bei dem Malprozess entstehen und Schaffen neuer Realitäten –
            vielleicht vergleichbar mit der Komposition von Musik, nur mit Farbe
            und Form.
        </p>

        <p class='text-pretty'>
            Den Begriff der „halbabstrakten Malerei“ habe ich kreiert, um den
            Stil meiner Bilder zu definieren.
        </p>
        <p class='text-pretty'>
            Vordergründig abstrakte Bilder erhalten eine zusätzliche Ebene,
            indem sie konkrete Inhalte erahnen lassen.
        </p>

        <p class='text-pretty'>
            Mir geht es um die tiefe Schönheit der Welt, der Menschen und der
            Natur, diese zu ergründen und mit Farben sichtbar zu machen.
        </p>
    </div>
</div>
