---
import Container from '@components/Container.astro';
import { links } from '@consts/links.d.ts';
---

<Container classAstro='mt-10'>
    <ul class='flex flex-col gap-4 sm:flex-row sm:gap-10 sm:items-center'>
        {
            links.map((item) => (
                <li>
                    <a
                        href={item.url}
                        target='_blank'
                        rel='noopener noreferrer'
                    >
                        {item.imgSrc ? (
                            <img
                                src={item.imgSrc}
                                height={item.imgHeight}
                                width={100}
                                alt={item.alt}
                                class='aspect-auto object-contain'
                            />
                        ) : (
                            item.name
                        )}
                    </a>
                </li>
            ))
        }
    </ul>
</Container>
