---
import Container from '@components/Container.astro';
import { links } from '@consts/links';

const currentPath = Astro.url.pathname;
---

<Container classAstro='mt-10'>
    <ul class='flex flex-col gap-4 sm:flex-row sm:gap-10 sm:items-center'>
        {
            links.map((item) => (
                <li>
                    <a
                        href={item.url}
                        rel='noopener noreferrer'
                        class={`footer-link uppercase text-gray-600 hover:text-black w-fit  hover:scale-110 transition-all duration-300 ease-in-out ${currentPath === item.url ? 'line-through' : ''}`}
                    >
                        {item.imgSrc ? (
                            <img
                                src={item.imgSrc}
                                height={item.imgHeight}
                                width={100}
                                alt={item.alt}
                                class='aspect-auto object-contain hover:scale-110'
                            />
                        ) : (
                            item.name
                        )}
                    </a>
                </li>
            ))
        }
    </ul>
</Container>
