---
import Container from '@components/Container.astro';
import Facebook from '@components/ui/Facebook.astro';
import Instagram from '@components/ui/Instagram.astro';
import { links } from '@consts/links';

const currentPath = Astro.url.pathname;
---

<footer class='lg:max-w-screen pr-12 text-sm bg-[#c4bab5]/80 h-fit mb-0'>
    <Container>
        <ul
            class='flex flex-col py-14 gap-4 sm:flex-row sm:items-center sm:gap-10'
        >
            {
                links.slice(0, 4).map((item) => (
                    <li>
                        <a
                            href={item.url}
                            rel='noopener noreferrer'
                            class={`footer-link md:prose uppercase text-gray-600 hover:text-black hover:underline w-fit hover:scale-110 transition-all duration-300 ease-in-out ${currentPath === item.url ? 'line-through' : ''}`}
                        >
                            {item.imgSrc ? (
                                <img
                                    src={item.imgSrc}
                                    height={item.imgHeight}
                                    width={0}
                                    alt={item.alt}
                                    class='aspect-auto object-contain hover:scale-110'
                                />
                            ) : (
                                item.name
                            )}
                        </a>
                    </li>
                ))
            }
            <li>
                <a
                    href='/'
                    rel='noopener noreferrer'
                    class='footer-link w-fit hover:scale-110 transition-all duration-300 ease-in-out text-gray-600'
                >
                    <Facebook
                        fill='currentColor'
                        class:list={[
                            `h-6 w-auto hover:scale-105 transition-all duration-300 ease-in-out hover:text-black`,
                        ]}
                    />
                </a>
            </li>
            <li>
                <a
                    href='/'
                    rel='noopener noreferrer'
                    class='footer-link w-fit hover:scale-110 transition-all duration-300 ease-in-out text-gray-600'
                >
                    <Instagram
                        fill='currentColor'
                        class:list={[
                            `h-6 w-auto hover:scale-105 transition-all duration-300 ease-in-out hover:text-black`,
                        ]}
                    />
                </a>
            </li>
        </ul>
    </Container>
</footer>
