---
import Container from '@components/Container.astro';
import { links } from '@consts/links';
---

<Container classAstro='mt-10'>
    <ul class='flex flex-col gap-4 sm:flex-row sm:gap-10 sm:items-center'>
        {
            links.map((item) => (
                <li>
                    <a
                        href={item.url}
                        rel='noopener noreferrer'
                        class='footer-link uppercase text-gray-600 hover:text-black w-fit  hover:scale-110 transition-all duration-300 ease-in-out'
                    >
                        {item.imgSrc ? (
                            <img
                                src={item.imgSrc}
                                height={item.imgHeight}
                                width={100}
                                alt={item.alt}
                                class='aspect-auto object-contain hover:scale-110'
                            />
                        ) : (
                            item.name
                        )}
                    </a>
                </li>
            ))
        }
    </ul>
</Container>

<script>
    export function handlePageLoad(page) {
        const path = page.path;
        const footerLinks = document.querySelectorAll('.footer-link');
        footerLinks.forEach((link) => {
            const linkHref = link.getAttribute('href');

            console.log({ linkHref }, { path });
            if (linkHref && linkHref === path) {
                link.classList.add('line-through');
            }
        });
    }

    document.addEventListener('DOMContentLoaded', () => {
        const currentPage = { path: window.location.pathname };
        handlePageLoad(currentPage);
    });
</script>
