---
import ImageBackground from '@assets/birgit-matthias.webp';
---

<div
    class='bg-center bg-cover bg-no-repeat relative h-dvh'
    style=`background-image: url(${ImageBackground.src}); height: {ImageBackground.height}; width: {ImageBackground.width}; alt="picture"`
>
    <slot />
</div>
