---
import ImageBackground from '@assets/hero-picture.jpg';
---

<div
    class='h-dvh bg-center bg-cover bg-no-repeat relative top-[-120px]'
    style=`background-image: url(${ImageBackground.src}); height: {ImageBackground.height}; width: {ImageBackground.width}; alt="picture"`
>
    <slot />
</div>
