---
import { Astronav, MenuItems, MenuIcon } from 'astro-navbar';
import LogoFinal from '@assets/UI/LogoFinal.astro';
import { menuItems } from '@consts/menuItems';
---

<header
    id='navbar'
    class='pt-3 px-20 flex flex-col items-center justify-between lg:flex-row fixed top-0 left-0 right-0 w-full bg-slate-100/80 z-50 shadow-md shadow-slate-500'
>
    <Astronav>
        <div class='flex w-full items-center justify-between lg:w-auto z-50'>
            <a href='/'>
                <LogoFinal
                    class='aspect-auto py-4 h-20 object-contain md:h-28 text-gray-700 hover:text-black hover:stroke-12 hover:scale-110 transition-all duration-300 ease-in-out'
                />
            </a>

            <!-- hamburger button -->
            <div class='block lg:hidden'>
                <MenuIcon
                    class='my-class h-8 w-8 text-gray-700 hover:text-black]'
                />
            </div>
        </div>
        <MenuItems class='mt-2 hidden w-full lg:mt-0 lg:flex lg:w-auto'>
            <ul
                class='flex my-9 lg:my-0 flex-col gap-8 text-[1.3rem] lg:flex-row'
            >
                {
                    menuItems
                        ?.filter((item) => item.active)
                        .map((item) => (
                            <li>
                                <a
                                    href={item?.path}
                                    class='navbar-link flex uppercase text-gray-600 hover:text-black border-transparent border-b-8 hover:border-[#59B9CB]/80 w-fit  hover:scale-110 transition-all duration-300 ease-in-out'
                                >
                                    {item.title}
                                </a>
                            </li>
                        ))
                }
            </ul>
        </MenuItems>
    </Astronav>
</header>

<script>
    export function handlePageLoad(page) {
        const path = page.path;
        const navbarLinks = document.querySelectorAll('.navbar-link');
        navbarLinks.forEach((link) => {
            const linkHref = link.getAttribute('href');

            console.log({ linkHref }, { path });

            if (linkHref && linkHref === path) {
                console.log('------------> here');
                link.classList.add(
                    'border-b-1',
                    'border-[#93cbd4dc], line-through, text-red-900, another-clase'
                );
            }
            if (
                linkHref &&
                linkHref === '/aktuelles' &&
                path.includes('/aktuelles/')
            ) {
                link.classList.add('border-b-2', 'border-[#95f1ffc7]');
            }
        });
    }

    document.addEventListener('DOMContentLoaded', () => {
        const currentPage = { path: window.location.pathname };
        handlePageLoad(currentPage);
    });
</script>
