---
import { Astronav, MenuItems, MenuIcon } from 'astro-navbar';
import LogoFinal from '@assets/UI/LogoFinal.astro';
import { menuItems } from '@consts/menuItems';

interface Props {
    logoClass?: string;
    headerNavClass?: string;
}
const { logoClass, headerNavClass } = Astro.props;

const currentPath = Astro.url.pathname;
---

<header
    id='navbar'
    class:list={[
        'fixed w-full max-w-[85vw] pt-3 px-20 flex flex-col items-center justify-between lg:flex-row top-0 z-50',
        { headerNavClass },
    ]}
>
    <Astronav>
        <div class='flex w-full items-center justify-between lg:w-auto'>
            <a href='/' class='bg-white px-6'>
                <LogoFinal
                    class:list={[
                        'aspect-auto py-4 h-24 object-contain md:h-32 font-bold hover:stroke-12 hover:scale-110 transition-all duration-300 ease-in-out',
                        logoClass,
                    ]}
                />
            </a>

            <!-- hamburger button -->
            <div class='block lg:hidden'>
                <MenuIcon
                    class='my-class h-8 w-8 text-white font-bold hover:text-black]'
                />
            </div>
        </div>
        <MenuItems class='mt-2 hidden w-full lg:mt-0 lg:flex lg:w-auto'>
            <ul
                class='flex my-9 lg:my-0 flex-col gap-8 text-[1.3rem] lg:flex-row'
            >
                {
                    menuItems
                        ?.filter((item) => item.active)
                        .map((item) => (
                            <li class='font-bold'>
                                <a
                                    href={item?.path}
                                    class={`navbar-link flex uppercase text-white  hover:text-[#EC008C] w-fit hover:scale-110 transition-all duration-300 ease-in-out [text-shadow:_2px_2px_1px_rgb(30_28_28_/_97%)] ${currentPath === item.path ? 'active-item' : ''}`}
                                >
                                    {item.title}
                                </a>
                            </li>
                        ))
                }
            </ul>
        </MenuItems>
    </Astronav>
</header>

<style>
    .active-item {
        color: #ec008c;
    }
</style>
