---
import { getEntry } from 'astro:content';
import Container from '@components/Container.astro';

const entry = await getEntry('uebermich', 'uebermich');
if (!entry?.data) {
    throw new Error('Error: Not found uebermich entry');
}
const { title, description, imageUrl, imageAlt } = entry.data;
---

<Container
    classAstro='py-20 md:my-20 flex flex-col md:flex-row md:justify-between md:py-20 gap-8'
>
    <article class='h-fit md:w-[55%]'>
        <header class='ml-32'>
            <h2 class='text-3xl pb-2 md:pb-16 font-bold'>
                <span class='border-b-2 text-white border-white pb-1'
                    >{title}</span
                >
            </h2>
        </header>
        <div class='w-full prose prose-2xl py-10'>
            {description}
        </div>
    </article>

    <div class='md:self-start md:w-[40%] aspect-w-16 aspect-h-9 bg-gray-300'>
        <img
            src={imageUrl}
            alt={imageAlt}
            class='object-cover w-full h-full hidden'
            onload="this.style.display='block'; this.previousElementSibling.style.display='none'"
        />
    </div>
</Container>
