---
import { StructuredText } from '@datocms/astro/StructuredText';

import { Picture } from 'astro:assets';
import imageComponent from '@assets/birgit.avif';
import Container from '@components/Container.astro';

import { fetchDatoCMS } from '@api/fetchDatoCMS.js';
import { dataQuery } from '@api/query.js';

const json = await fetchDatoCMS(dataQuery);
if (!json) {
    throw new Error('Failed to fetch data');
}
const data = json.data.ueberMich;
---

<Container
    classAstro='py-20 md:my-20 flex flex-col md:flex-row md:justify-between md:py-20 gap-8'
>
    <article class='h-fit md:w-[55%]'>
        <header class='ml-32'>
            <h2 class='text-3xl pb-2 md:pb-16 font-bold'>
                <span class='border-b-2 text-white border-white pb-1'
                    >{data.title}</span
                >
            </h2>
        </header>
        <div class='w-full prose prose-2xl py-10'>
            <StructuredText data={data.description} />
        </div>
    </article>

    <div class='md:self-start md:w-[40%] px-4'>
        <Picture
            src={imageComponent}
            formats={['avif', 'webp']}
            alt='Presentation of a own Art.'
        />
    </div>
</Container>
