---
import Container from '@components/Container.astro';
---

<Container classAstro='min-h-fit py-10'>
    <header class='ml-32'>
        <h2 class='pb-16 text-3xl font-bold'>
            <span class='border-b-2 border-white pb-1'>Video</span>
        </h2>
    </header>
    <video
        class='aspect-video object-cover object-center md:pt-24'
        autoplay
        muted
        loop
        preload='auto'
        controls
        src='/video.mp4'></video>
</Container>
