---
import { getCollection } from 'astro:content';
import Container from '@components/Container.astro';
import TitleSection from '@components/ui/TitleSection.astro';
import SubTitleSection from '@components/ui/SubTitleSection.astro';

interface GalleryItem {
    id: string;
    folder: string;
    title: string;
    sortOrder: number;
    description: string | undefined;
    imageUrl: string;
    imageAlt: string;
    price: number | undefined;
    sold: boolean | undefined;
    year: number | undefined;
}

const startseiteImages = await getCollection('gallery_startseite');

const werkeStartseite: GalleryItem[] = startseiteImages
    .map(
        (entry): GalleryItem => ({
            id: entry.slug,
            folder: 'startseite',
            title: entry.data.title || 'Sin título',
            sortOrder: entry.data.sortOrder || 999,
            description: entry.data.description || '',
            imageUrl: entry.data.imageUrl || '/placeholder.jpg',
            imageAlt:
                entry.data.imageAlt ||
                entry.data.title ||
                'Imagen sin descripción',
            price: entry.data.price || undefined,
            sold: entry.data.sold || false,
            year: entry.data.year || undefined,
        })
    )
    .sort((a, b) => a.sortOrder - b.sortOrder);
---

<Container classAstro='lg:h-screen flex justify-center flex-col' id='werke'>
    <TitleSection title='Werke' />

    <article class='flex flex-col gap-4 bg-white lg:flex-row lg:w-full'>
        {
            werkeStartseite.map((w) => (
                <a
                    href={`/${w.id}`}
                    class='group relative aspect-square lg:w-1/3 overflow-hidden focus:outline-none focus-visible:ring-4 focus-visible:ring-amber-300 transition-shadow duration-300 hover:drop-shadow-lg'
                >
                    <img
                        src={w.imageUrl}
                        alt={w.imageAlt}
                        class='absolute inset-0 h-full w-full object-cover object-center transition-transform duration-500 group-hover:scale-110'
                    />
                    <div class='absolute inset-0 bg-black/40 opacity-0 transition-opacity duration-300 group-hover:opacity-100' />

                    <div class='relative z-10 flex h-full items-center justify-center p-4'>
                        <SubTitleSection
                            title={w.title}
                            classSubTitle='text-white text-center font-extrabold border-b-4 border-white p-6 [text-shadow:0_0_5px_#d934b1] transition-transform duration-300 group-hover:scale-110'
                        />
                    </div>
                </a>
            ))
        }
    </article>
</Container>
