---
interface Props {
    title: string;
}
const { title } = Astro.props;
const descriptionPage = 'Birgit Matthias Malerei';

import Footer from '@sections/Footer.astro';
---

<!doctype html>
<html lang='de'>
    <head>
        <title>{title}</title>
        <meta charset='UTF-8' />
        <meta name='description' content={descriptionPage} />
        <meta name='viewport' content='width=device-width' />
        <meta name='generator' content={Astro.generator} />
        <meta name='keywords' content='Birgit Matthias, Malerei, Kunst' />
        <link rel='canonical' href='https://birgitmatthias.de/' />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <meta name='robots' content='index, follow' />
        <meta name='googlebot' content='index, follow' />
    </head>

    <body>
        <slot />
        <Footer />
    </body>
</html>

<style is:global>
    :root {
        font-family: Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        overflow: hidden;
        overflow-y: scroll;
        line-height: 1;
        margin: 0;
        background: #06185ee1;
        background-size: 224px;
        --color-text: #000;
        --color-bg: #f7f5ee;
        --color-link: #000;
        --color-link-hover: #000;
        color: var(--color-text);
        background-color: var(--color-bg);
    }
</style>
