---
interface Props {
    title: string;
    descriptionPage?: string;
    backgroundColor?: string;
    navbarProps?: string;
}
const {
    title,
    descriptionPage = 'Birgit Matthias Malerei',
    backgroundColor = 'bg-[#c4bab5]',
    navbarProps,
} = Astro.props;

import Footer from '@sections/Footer.astro';
import Navbar from '@sections/Navbar.astro';
import GlobalStyles from '@styles/GlobalStyles.astro';
import ObserverScript from '@helpers/ObserverScript.astro';
---

<!doctype html>
<html lang='de'>
    <head>
        <title>{title}</title>
        <meta charset='UTF-8' />
        <meta name='description' content={descriptionPage} />
        <meta name='viewport' content='width=device-width' />
        <meta name='generator' content={Astro.generator} />
        <meta name='keywords' content='Birgit Matthias, Malerei, Kunst' />
        <link rel='canonical' href='https://birgitmatthias.de/' />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <meta name='robots' content='index, follow' />
        <meta name='googlebot' content='index, follow' />
    </head>
    <body
        class:list={[
            'bg-[#c4bab5] border border-[#885d47c7] shadow-2xl shadow-gray-80 x-auto min-h-screen',
            backgroundColor,
        ]}
    >
        <Navbar linkLogoClass='linkLogoClass' headerNavClass=`${navbarProps}` />
        <slot />
        <Footer />
        <GlobalStyles />
        <ObserverScript />
    </body>
</html>
