---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';

type Props = CollectionEntry<'aktuelles'>['data'];

const { title, cover, coverAlt } = Astro.props;

import LayoutArt from '@layouts/LayoutArt.astro';
import Link from '@components/ui/Link.astro';
---

<LayoutArt title={title}>
    <section class='flex min-h-screen items-center justify-center bg-gray-100'>
        <div class='m-6 rounded bg-white p-8 shadow-lg'>
            <div class=''>
                {cover && <Image width={1020} src={cover} alt={coverAlt} />}
            </div>

            <div class='my-8'>
                <h1 class='py-4 text-3xl'>{title}</h1>
            </div>
            <article class='prose lg:prose-xl'>
                <slot />
            </article><div class='py-6'>
                <Link href='/aktuelles'>« Züruk</Link>
            </div>
        </div>
    </section>
</LayoutArt>
