---
interface Props {
    title: string;
    descriptionPage?: string;
}
const { title, descriptionPage = 'Birgit Matthias Malerei' } = Astro.props;

import Footer from '@sections/Footer.astro';
import Navbar from '@sections/Navbar.astro';
---

<!doctype html>
<html lang='de'>
    <head>
        <title>{title}</title>
        <meta charset='UTF-8' />
        <meta name='description' content={descriptionPage} />
        <meta name='viewport' content='width=device-width' />
        <meta name='generator' content={Astro.generator} />
        <meta name='keywords' content='Birgit Matthias, Malerei, Kunst' />
        <link rel='canonical' href='https://birgitmatthias.de/' />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <meta name='robots' content='index, follow' />
        <meta name='googlebot' content='index, follow' />
    </head>

    <body
        class='bg-[#c4bab5] border border-[#885d47c7] shadow-2xl shadow-gray-80 x-auto min-h-screen'
    >
        <Navbar />
        <slot />
        <Footer />
    </body>
</html>

<style is:global>
    :root {
        font-family: Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        overflow: hidden;
        overflow-y: scroll;
        line-height: 1;
        margin: 0;
        background-size: 224px;
        --color-text: #000;
        --color-link: #000;
        --color-link-hover: #000;
    }
    body {
        max-width: 1440px;
        margin: 0 auto;
    }
</style>
