---
import { type CollectionEntry } from 'astro:content';

type Props = CollectionEntry<'presse'>['data'];

const { title, cover, coverAlt } = Astro.props;
import Layout from '@layouts/Layout.astro';
import Container from '@components/Container.astro';
import Link from '@components/ui/Link.astro';
import TitleSection from '@components/ui/TitleSection.astro';
import ProseTemplate from '@components/ui/ProseTemplate.astro';
---

<Layout title={title} backgroundColor='bg-white' navbarProps='bg-white/70'>
    <Container
        classAstro='w-fit lg:w-[60%] flex flex-col place-items-center pt-28 md:pt-56 lg:pt-28 '
    >
        <div class='rounded bg-white p-8 shadow-lg md:m-6'>
            <div>
                {cover && <img width={1020} src={cover} alt={coverAlt} />}
            </div>

            <div class='my-8'>
                <TitleSection title={title} />
            </div>

            <ProseTemplate>
                <slot />
            </ProseTemplate>

            <div class='pb-6 pt-12'>
                <Link href='/aktuelles' class='md:prose-2xl'>« Züruk</Link>
            </div>
        </div>
    </Container>
</Layout>
