---
interface Props {
    title: string;
    classHeader?: string;
    classHeaderTitle?: string;
}

const { title, classHeader, classHeaderTitle } = Astro.props as Props;
---

<header class:list={[classHeader]}>
    <h2
        class:list={[
            'pb-8 md:pb-16 text-pretty text-3xl font-bold',
            classHeaderTitle,
        ]}
    >
        <span class='border-b-2 border-black md:pb-1'>{title}</span>
    </h2>
</header>
